@model IEnumerable<semana4.Models.Videojuegos>
@{
    ViewData["Title"] = "Videojuegos";
}

    <h1>@ViewData["Message"]</h1>
    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
    <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Del</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>

        </tr>
}
    </tbody>
</table>
